@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

@font-face {
  font-family: LabilRegular;
  src: url(./LabilGrotesk-Regular.woff2);
}

@font-face {
  font-family: LabilBlack;
  src: url(./LabilGrotesk-Black.woff2);
}

@font-face {
  font-family: LabilLight;
  src: url(./LabilGrotesk-Light.woff2);
}
